<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/form.css" />
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  
  <main>
    <section class="form-cover">
      <h1>Let's Dive In!</h1>
      <% if (errorMessage) { %>
      <div class="auth-message auth-message--error"><%= errorMessage %></div>
      <% } %>

      <form class="form-control" action="/new-password" method="POST">
        <p class="error-message password-message"></p>
        <input id="pass" type="password" name="password" class="form-input" value="<%= oldInput.password %>" placeholder="Password">
        <p class="error-message confirm-pass--message"></p>
        <input id="confirm-pass" type="password" name="confirmPassword" class="form-input" value="<%= oldInput.confirmPassword %>" placeholder="Verify Password">
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="form-btn" type="submit"> Update Password </button>
      </form>
    </section>
  </main>
  <script>
    const passwordInput = document.getElementById('pass');
    const confirmPassInput = document.getElementById('confirm-pass');

    const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})/;
    const PasswordMessage = document.querySelector('.password-message');
    const confirmPassMessage = document.querySelector('.confirm-pass--message');

    const passwordValidator = () => {
      const passValue = passwordInput.value.trim();
      if (passwordRegex.test(passValue)) {
        passwordInput.classList.remove('user-message--error');
        passwordInput.classList.add('user-message');
        PasswordMessage.style.display = 'none';
      } else {
        PasswordMessage.style.display = 'block';
        passwordInput.classList.remove('user-message');
        passwordInput.classList.add('user-message--error');
        if (!(/^(?=.*[a-z])/.test(passValue))) {
          PasswordMessage.textContent = 'small letter(s) required';
        }
        if (!(/^(?=.*[A-Z])/.test(passValue))) {
          PasswordMessage.textContent = 'Capital letter(s) required';
        }
        if (!(/^(?=.*[0-9])/.test(passValue))) {
          PasswordMessage.textContent = 'Number(s) required';
        }
        if (!(/^(?=.*[!@#\$%\^&\*])/.test(passValue))) {
          PasswordMessage.textContent = 'Special character(s) required';
        }
        if (!(/^(?=.{8,})/.test(passValue))) {
          PasswordMessage.textContent = 'Password must be 8 or more characters long';
        }
      }
    }

    const confirmPassValidator = () => {
      const passValue = passwordInput.value.trim();
      const confirmPassValue = confirmPassInput.value.trim();
      if (confirmPassValue == passValue) {
        confirmPassInput.classList.remove('user-message--error');
        confirmPassInput.classList.add('user-message');
        confirmPassMessage.style.display = 'none';
      } else {
        confirmPassMessage.style.display = 'block';
        confirmPassInput.classList.remove('user-message');
        confirmPassInput.classList.add('user-message--error');
        confirmPassMessage.textContent = 'Must be same with password.';
      }
    }
    window.addEventListener('load', () => {
      if (passwordInput.value.trim() == '' && confirmPassInput.value.trim() == '') {
        return;
      }
      passwordValidator();
      confirmPassValidator();
    });

    passwordInput.addEventListener('input', passwordValidator);

    confirmPassInput.addEventListener('input', confirmPassValidator);
  </script>
</body>
</html>